.container {
    width: 8000px;
    max-width: 100%;
    margin: 0 auto;
    border: 3px dashed orange;
}

/* flex container */
.flex-coneainer {
    display: flex;
    border: 1px solid lightcoral;
}

.item {
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
}

/* flex-direction */
.row { flex-direction: row; }
.colum { flex-direction: column; }
.row-reverse { flex-direction: row-reverse; }
.colum-reverse { flex-direction: column-reverse; }

/* flex-wrap */
.nowap { flex-wrap: nowrap;}
.wap { flex-wrap: wrap;}
.wap-reverse { flex-wrap: wrap-reverse;}

/* fiex-flow */
.row-wrap{
    flex-flow: row wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

/* justify-content */
/* 주축의 정렬방식을 지정하는 속성 */
.center { justify-content: center; }
.start { justify-content: start; }
.end { justify-content: end; }
.between { justify-content: space-between; }
.around { justify-content: space-around; }
.evenly { justify-content: space-evenly; }